@import "variables";

.footer {
  border-top: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__logo {
    img {
      margin-right: 15px;
      width: 80px;
  
    }
  }

  &__info {
    font-size: 22px;
  }
}
